* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

:root {
    /* palette */
    --white: #fafafaff;
    --onyx: #37393aff;
    --blue-crayola: #3777ffff;
    --ocean-green: #26c485ff;
    --maximum-yellow-red: #e3b23cff;
    /* page */
    --bg: #ecf2ef;
    --info: #d9f3e4;
    --header: #37393a;
    --dev-outline: solid lime 2px;
    --text: #37393a;
    --error-color: #df6980;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    background: url("/img/world-map.svg") var(--bg) center no-repeat;
    background-size: cover;
    color: var(--text);
    overflow-x: hidden;
    gap: 2em;
}

/* body > * {
    border: var(--dev-outline);
} */
.header {
    position: absolute;
    top: 0;
    padding: 0.8rem;
    width: 100%;
    text-align: center;
    color: white;
    background: var(--ocean-green);
    font-size: 1.3rem;
    z-index: 1;
}

.info {
    background: var(--info);
    width: 85vmin;
    border-radius: 0.5rem;
    padding: 0.7rem 1.3rem 0.9rem;
    margin-top: 4rem;
}

.info_header {
    font-weight: bold;
}

.info-icon {
    color: var(--ocean-green);
}

.info_details {
    padding: 0.3rem 0 0.2rem;
}

.info_format {
    font-size: 0.8rem;
}

/* .info_format--header{
    padding-top: 0.4rem;
} */

.info_format--content {
    font-weight: bold;
    color: var(--maximum-yellow-red);
}

.info--hide {
    animation: hide-info 0.3s ease forwards;
    overflow: hidden;
}

@keyframes hide-info {
    0% {
        height: 4rem;
    }

    100% {
        height: 0;
        padding: 0;
    }
}

.input {
    width: 85vmin;
    display: flex;
    gap: 3px;
    flex-wrap: wrap;
}

.input_box {
    width: calc(70% - 3px);
    height: 2.8rem;
    font-size: 1.2rem;
    border: 2px solid #80808080;
    border-radius: 0.3rem;
}

.input_box:focus {
    outline: none;
    border: 2px solid var(--ocean-green);
}

.input_submit {
    width: 30%;
    border-radius: 0.3rem;
    border: none;
    font-size: 1.14rem;
    background: var(--ocean-green);
    color: #fcfcfc;
}

.input_submit--disabled {
    cursor: not-allowed;
    background: grey;
}

.logs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.output {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 1.2rem;
    padding: 2rem;
    scroll-snap-type: y mandatory;
}

.loader {
    color: #aaaaaabb;
}

.country {
    width: min(75vmin, 290px);
    display: flex;
    /*! flex: 0 0 max-content; */
    gap: 0.8rem;
    flex-direction: column;
    background: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px 0px rgba(94, 94, 94, 0.164),
        0 0 4px 1px rgba(55, 118, 255, 0.05);
    scroll-snap-align: start;
    overflow: clip;
}

.country--notFound .country_extra {
    /* font-size: 1.3rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.country--notFound .error {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0.7rem 1.3rem 0.9rem;

}

.country_name {
    /* font-size: 1.3rem; */
    font-weight: bold;
}

.country_flag {
    width: 100%;
    height: 8rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country_flag_img {
    object-fit: contain;
    border: 1px solid #ededed;
    height: 100%;
}

.country_extra {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.2rem 0.7rem;
}

.code_title,
.continent_title,
.tz_title,
.lang_title,
.currencies_title,
.coa_title {
    color: #808080;
    border: none;
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 0.2rem;
    align-items: baseline;
}

/* .continent_content,.tz_content,.lang_content,.currencies_content,.coa_content{
    color: rgb(59, 59, 59);
} */
.extra_icons {
    font-size: 0.85rem;
}

.currency_symbol {
    /* font-weight: bold; */
    color: var(--onyx);
    background: var(--maximum-yellow-red);
    border-radius: 0.2rem;
    padding: 0 0.2rem;
    font-size: 0.95rem;
}

.error {
    background: #fcd4dc;
    width: 85vmin;
    border-radius: 0.5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "msg close";
    grid-template-columns: 9fr 1fr;
}

.error_msg,
.close-icon {
    padding: 0.5rem 0.7rem;
    display: flex;
    align-items: center;
}

.error_msg {
    grid-area: msg;
}

.close-icon {
    justify-content: center;
    grid-area: close;
    color: var(--error-color);
}

.search-group {
    --main: #dfdfdf;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.8rem;
    padding: 0.25rem;
    background: #ffffff;
    color: var(--main);
    border-left: 0.1rem solid var(--main);
    border-bottom: 0.1rem solid var(--main);
    border-bottom-left-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}