*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    position: relative;
}
*::before,
*::after{
    content:'';
    position: absolute;
}
:root{
    --black: #111;
    --red: #f2023f;
    --belly: #e4c5a8;
    --beak: #fab92b;
    --eye: whitesmoke;
    --dev-outline: solid lime 2px;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: beige;
    flex-flow: column nowrap;
}
body > *{
    border: var(--dev-outline);
}
/* .input{
} */
.input-box{
    width: 50vmin;
    height: 2.8rem;
    font-size: 1.2rem;
}
.input-submit{
    padding: 0.7rem 1.6rem;
    border-radius: 0.3rem;
    border: 1px solid;
    font-size: 1.14rem;
}
.country-flag{
    width: 40vmin;
    height: 25vmin;
    border-radius: 0.4rem;
}