* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

:root {
    /* palette */
    --white: #fafafaff;
    --onyx: #37393aff;
    --blue-crayola: #3777ffff;
    --ocean-green: #26c485ff;
    --maximum-yellow-red: #e3b23cff;
    /* page */
    --yellow: #e3b23c;
    --green: #66a583;
    --bg: #f1f1f1;
    --info: #d9f3e4;
    --header: #37393a;
    --dev-outline: solid lime 2px;
    --button: #3777ff;
    --country: #3777ff;
    --text: #37393a;
}

body {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    background: var(--bg);
    color: var(--text);
    overflow-x: hidden;
    gap: 2.5em;
}

/* body > * {
    border: var(--dev-outline);
} */
.header {
    position: absolute;
    top: 0;
    padding: 0.8rem;
    width: 100%;
    text-align: center;
    color: white;
    background: var(--header);
    font-size: 1.3rem;
    z-index: 1;
}

.info {
    background: var(--info);
    width: 85vmin;
    border-radius: 0.5rem;
    padding: 0.7rem 1.3rem 0.9rem;
    margin-top: 5rem;
}

.info_header {
    font-weight: bold;
}

.info-icon {
    color: var(--ocean-green);
}

.info_details {
    padding: 0.3rem 0 0.2rem;
}

.info_format {
    font-size: 0.8rem;
}

/* .info_format--header{
    padding-top: 0.4rem;
} */

.info_format--content {
    font-weight: bold;
    color: var(--ocean-green);
}

.input {
    width: 85vmin;
    display: flex;
    gap: 3px;
}

.input_box {
    width: calc(70%);
    height: 2.8rem;
    font-size: 1.2rem;
    border: 2px solid #80808080;
    border-radius: 0.3rem;
}

.input_box:focus {
    outline: none;
    border: 2px solid var(--button);
}

.input_submit {
    width: 30%;
    border-radius: 0.3rem;
    border: none;
    font-size: 1.14rem;
    background: var(--button);
    color: #fcfcfc;
}

.display {
    width: 85vmin;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 2rem;
    padding: 1.5rem 0;
}

.country {
    /*! width: 60%; */
    height: fit-content;
    display: flex;
    flex: 0 0 60%;
    /* justify-content: center;
    align-items: center; */
    gap: 0.8rem;
    flex-direction: column;
    background: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 2px 0px rgba(94, 94, 94, 0.164),
        0 0 4px 1px rgba(55, 118, 255, 0.05);
}

.country_name {
    /* font-size: 1.3rem; */
    font-weight: bold;
}

.country_flag {
    width: 100%;
    height: 8rem;
    overflow: hidden;
    background: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.country_flag_img {
    object-fit: contain;
    /*! width: 13rem; */
    height: 100%;
}

.country_extra {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem 1rem;
}

.error {
    background: #fcd4dc;
    width: 85vmin;
    border-radius: 0.5rem;
    padding: 0.7rem 1.3rem 0.9rem;
}

/* .continent_title,.tz_title,.lang_title,.currencies_title{
    color: var(--maximum-yellow-red);
    border-radius: 0.3rem;
    border: none;
    font-size: 1.14rem;
    padding: 0.3rem;
} */
/* .continent_content,.tz_content,.lang_content,.currencies_content{
    color: rgb(59, 59, 59);
} */
